@media (min-width: 800px) {
   /* 表示領域が800px以上の場合に適用するスタイル */
   div.column { width: 240px; float: left; }
}
@media (max-width: 799px) {
   /* 表示領域が800px未満の場合に適用するスタイル */
   div.column { width: 100%; }
}

.pawslogo{
  width:300px;
  float: left;
  filter:chroma(color=#ffffff );
}



/*スライドショー設定*/
.slide {
  position: relative;/* 親要素に設定することでこの要素を基準に新要素が配置させる*/
  width: 900px;
  height: 350px;
  margin-left: 400px;
  margin-top: 20px;
 }

 @keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
 }

 .slide img {
  position: absolute;
  top: 50%;
  left: 37.6%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
  opacity: 0;
  animation :slideshow 24s linear infinite;
 }

 .slide img:nth-child(2){
  animation-delay: 8s;
 }

 .slide img:last-child{
  animation-delay: 16s;
 }
/*!!!スライドショー設定*/


/*メニュー設定*/
.menu{
  padding: 1em;
  margin:0em 10px;
  color: #60688c;
  background: #fff;
  border-top: solid 5px #4682b4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
   width: 170px;
  float:left;
 }

 .snsicon{
   height: 50px;
   width: 50px;
   margin-left: 20px;

 }

.petsitterinfo{
  position: relative;
margin:60px 0 270px 270px;
width: 55%;
padding: 1em;
border: 3px solid #4169e1;
border-radius: 8px;
font-weight: bold;
}

.petsitterinfo .petsitterinfotitle{
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 15px;
  padding: 0 10px;
  line-height: 1;
  font-size: 18px;
  background: #4169e1;
  color: #fff;
  font-weight: bold;
}

.paws p{
  padding: 15px 20px;
margin: 0;
}







 body{
   background-image:url("https://github.com/wellstarred/corgbreeder/blob/main/pawsbackimg.jpg?raw=true");
   background-size: cover;
  width: 100%;
  height: 50%;
 }
 

